[submodule "react-gh/react-gh/bicep/ALZ-Bicep"]
	path = react-gh/react-gh/bicep/ALZ-Bicep
	url = https://github.com/Azure/ALZ-Bicep.git
[submodule "react-gh/react-gh/bicep/bicep/ALZ-Bicep"]
	path = react-gh/react-gh/bicep/bicep/ALZ-Bicep
	url = https://github.com/Azure/ALZ-Bicep.git
